#b1{    border-bottom: 6px solid #919191;}
#b2{    border-bottom: 6px solid #E3350D}
#b3{    border-bottom:  6px solid #EE6B2F}
#b4{    border-bottom:  6px solid #E6BC2F}
#b5{    border-bottom: 6px solid #4DAD5B}
#b6{    border-bottom: 6px solid #30A7D7}
#b7{    border-bottom: 6px solid #1B53BA}

#b1, #b2{
    margin: 0px;
}
